.Weather {
  margin: 30px auto 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 30px;
  background: rgba(166, 155, 245, 0.516);
  border: 2px solid #4c3381;
  border-radius: 10px;
  max-width: 700px;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
}
h1 {
  color: #7666b0;
  font-size: 50px;
}
h2 {
  color: #34285edd;
  font-size: 50px;
}
h3 {
  font-size: 20px;
  color: #473f5f;
}
h4,
h5 {
  font-size: 15px;
  padding-top: 10px;
  color: #2c3f5f;
}
.btn {
  background: #7666b0;
  color: #d1cbfa;
}
.btn:hover {
  background: #30154530;
  color: #34285edd;
}

#forecast {
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
#degree {
  font-family: monospace;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  bottom: 18px;
}
#toC,
#toF {
  text-decoration: none;
  color: #4c3381;
}
